.sidenav-container {
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
}

.sidenav {
  &--mobile{
    width: 250px;
  }
  &--desktop{
    width: 200px;
  }
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
  &__option{
    width: 90%;
    margin-bottom: 1em;
  }
}
.mat-toolbar-single-row{
  justify-content: center;
}
.option{
  margin:1.5em auto;
}

